<form method="post" action="{{ path('client_Bloquer', {'id': client.id}) }}"
      onsubmit="return confirm('voulez-vous bloquer ce client?');">
    <button class ="bloquer">bloquer</button>

</form>