{% block body %}
   <h4>bonjour Monsieu/Madame </h4>
    ===========================
<p>


Bloquer le compte de cet de la societe '{{Company}}'  son id est '{{id}}'
son nom '{{client}}' 

    
{% endblock %}