<h1>Bonjour ,</h1>
<p>


    Nous vous contactons pour prospecter un éventuel partenariat sur l'aspect maintenance de votre flotte entreprises et/ou personnels, aussi sur les besoins d'achats de fournisseurs de matériels informatiques et enfin sur l'aspect recyclage des anciens appareils non utiles dans le cadre d'un programme social/commercial.


    TrustiT est une Startup spécialisée dans le conseil d'achat et d'infogérance à travers la maintenance des appareils électroniques avec un réseau d'experts partout en Tunisie.


    Ci joins une plaquette de services pour mieux vous donner une idée sur l'offre à discuter.

    Nous sommes à disposition pour discuter d'une offre de service adapté à votre besoin, une réunion nous sera très utile afin d’avoir un échange sur les différents aspects.


    Nous avons besoin de votre collaboration pour une enquête que nous réalisions. Nous serons très reconnaissant de prendre quelques minutes de votre temps pour répondre au questionnaire que vous trouverez dans le lien ci-dessous :


    

    Cordialement</p>